$bg-color: #161616;
$typo-color: #f8f8f8;
$accent-color: #b9ef27;

$primary-border-color: $typo-color;

$primary-fonts: 'Source Code Pro', monospace;
$secondary-fonts: "VICEGrotesk", sans-serif;



$mobile-spacing: 3rem;
