//$bg-color: #161616;
$bg-color: black;
$typo-color: #f8f8f8;
$accent-color: #b9ef27;

$primary-border-color: $typo-color;
$secondary-border-color: rgba($typo-color, 0.2);
$tertiary-border-color: rgb(228, 228, 228);

$primary-fonts: "Source Code Pro", monospace;
$secondary-fonts: "VICEGrotesk", sans-serif;

$mobile-spacing: 2rem;
$tablet-spacing: 4rem;
$desktop-spacing: 4rem;
