@use "~abstracts" as *;

.preview {
  border-bottom: 1px solid $primary-border-color;
  font-family: $secondary-fonts;
  font-weight: 800;
  position: relative;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  background: var(--bg-image) no-repeat center center;
  background-size: cover;
  &:hover {
    color: $accent-color;
  }

  .info {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.5rem 1rem;
    width: 100%;
    background-color: $bg-color;
    text-transform: uppercase;
    font-size: 1.4rem;
    @include tablet {
      padding: 2rem 1.5rem;
    }
    @include desktop {
      gap: 3rem;
      padding: 2rem;
      font-size: 1.6rem;
    }

    .more {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      white-space: nowrap;

      .category {
        font-size: 1.2rem;
      }

      .author {
        font-family: $primary-fonts;
        font-weight: 400;
        font-size: 1rem;
        text-transform: capitalize;
        @include desktop {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.main {
}

.secondary {
  background: var(--bg-image) rgba(black, 0.3);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  .info {
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    background-color: transparent;
    font-size: 1.4rem;

    .more {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      width: 100%;
      padding: 1rem;
      align-items: center;
    }
  }
}
