@use "~abstracts" as *;

.preview {
  display: flex;
  flex-direction: row-reverse;
  @include tablet {
    flex-direction: column;
  }
  .img {
    background-color: $bg-color;
    flex: 1;
    position: relative;
    @include tablet {
      height: 23rem;
      width: 100%;
      display: inline-block;
      flex: unset;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.2s ease;
      @include size(100%);
      object-fit: cover;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .main {
    width: 65%;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include tablet {
      width: unset;
      gap: 1rem;
      padding: 2rem;
    }
    @include desktop {
      gap: 1.5rem;
      padding: 3rem;
    }
    .title {
      font-weight: 700;
      font-size: 1.3rem;
      transition: all 0.2s ease;
      @include tablet {
        font-size: 1.4rem;
      }
      @include desktop {
        font-size: 1.6rem;
      }
      &:hover {
        opacity: 0.5;
      }
    }
    .section {
      width: fit-content;
      font-weight: 500;
      text-transform: capitalize;
      text-decoration: underline;
      font-size: 1.4rem;
      transition: all 0.2s ease;
      &:hover {
        opacity: 0.6;
      }
      @include desktop {
        font-size: 1.6rem;
      }
    }

    .summary {
      display: none;
      @include tablet {
        display: inline-block;
        font-size: 1.3rem;
        line-height: 2rem;
      }
    }
    .date {
      font-size: 1.1rem;
    }
    .author {
      text-transform: uppercase;
      font-size: 1.1rem;
    }
  }
}

.light {
  background-color: white;
  color: $bg-color;
}
.dark {
  background-color: $bg-color;
  color: white;
}

.home {
  .img {
    @include tablet {
      height: 15rem;
    }
    @include desktop {
      height: 23rem;
    }
  }
  &Secondary {
    .img {
      @include tablet {
        display: none;
      }
    }
  }
}

.horizontal {
  flex-direction: row-reverse;
  @include tablet {
    flex-direction: row;
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 3rem 0;
  }
  .img {
    @include tablet {
      height: 18rem;
    }
    @include desktop {
      height: 25rem;
    }
  }
}
