@use "~abstracts" as *;

.home {
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;

  .intro {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $tertiary-border-color;
    @include tablet {
      flex-direction: row;
      display: grid;
      grid-template-columns: 65% 1fr;
    }
    @include desktop {
      grid-template-columns: 70% 1fr;
    }

    .more {
      border: 1px solid $tertiary-border-color;
      display: flex;
      flex-direction: column;
      background-color: $tertiary-border-color;
      gap: 1px;
      @include desktop {
        flex-basis: 80%;
      }

      & > * {
        flex: 1;
      }
    }
  }

  .list {
    display: grid;
    gap: 1px;
    background-color: $tertiary-border-color;
    border-bottom: 1px solid $tertiary-border-color;
    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .load {
    color: $bg-color;
    text-align: center;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    margin: 3rem 0;
    font-size: 3rem;
    font-family: $secondary-fonts;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.5;
    }

    @include desktop {
      font-size: 3.5rem;
      margin: 3rem;
    }
  }
}
.other {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  @include tablet {
    margin-top: 5rem;
  }

  .header {
    grid-column: 1 / -1;
    text-transform: uppercase;
    background-color: white;
    font-size: 4rem;
    @include normalizePadding();
    display: flex;
    flex-direction: column;
    @include tablet {
      font-size: 5rem;
    }
    @include desktop {
      font-size: 6rem;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    border: 1px solid $tertiary-border-color;
    border-left: none;
    border-right: none;
    @include tablet {
      flex-direction: row;
    }
    .list {
      gap: 1px;
      display: grid;

      background-color: $tertiary-border-color;
      @include tablet {
        grid-template-columns: 1fr;
        border-right: 1px solid $tertiary-border-color;
        width: 70%;
      }
      @include desktop {
        width: 60%;
      }
    }
  }
}
