@use "~abstracts" as *;

.home {
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  .intro {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $tertiary-border-color;
    @include tablet {
      flex-direction: row;
    }
    .more {
      display: flex;
      flex-direction: column;
      background-color: $tertiary-border-color;
      gap: 1px;
      border-left: 1px solid $tertiary-border-color;
      @include desktop {
        flex-basis: 80%;
      }
      & > * {
        flex: 1;
      }
    }
  }
  .list {
    display: grid;
    gap: 1px;
    background-color: $tertiary-border-color;
    border-bottom: 1px solid $tertiary-border-color;
    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .load {
    text-align: center;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border: none;
    margin: 2rem 0;
    font-size: 2.5rem;
    font-family: $secondary-fonts;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      opacity: 0.5;
    }
    @include desktop {
      font-size: 3.5rem;
      margin: 3rem;
    }
  }
}
