@use "~abstracts" as *;

.more {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $bg-color;
  padding-top: 2rem;
  @include desktop {
    padding-left: 6rem;
    margin-left: 4rem;
    border-top: none;
    border-left: 1px solid $tertiary-border-color;
  }
  .heading {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    font-family: $secondary-fonts;
    @include desktop {
      font-size: 3.2rem;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    border: 1px solid $tertiary-border-color;
    border-top: none;
    border-bottom: none;
    margin-top: 4rem;
    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-right: none;
    }

    @include desktop {
      margin-top: 2rem;
    }

    @include desktop {
      display: flex;
      flex-direction: column;
      border-left: none;
    }

    .preview {
      background-color: white;
      display: flex;
      gap: 1rem;
      padding: 1.5rem 1rem;
      border-bottom: 1px solid $tertiary-border-color;
      @include desktop {
        padding: 2rem;
        gap: 1.5rem;
        padding-left: 0;
      }
      &:first-of-type {
        border-top: 1px solid $tertiary-border-color;
        @include desktop {
          border-bottom: none;
        }
      }
      @include tablet {
        border-right: 1px solid $tertiary-border-color;
        &:nth-child(2) {
          border-top: 1px solid $tertiary-border-color;
        }
        @include desktop {
          border-right: none;
        }
      }

      .main {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .section {
          text-transform: capitalize;
          font-size: 1.4rem;
          text-decoration: underline;
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          font-size: 1.4rem;

          .title {
            font-size: 1.6rem;
            font-weight: 800;
            font-family: $secondary-fonts;
          }

          .author {
            font-size: 1.1rem;
          }

          .date {
            font-size: 1.2rem;
          }
        }
      }

      .img {
        padding: 2rem 0;

        img {
          @include size(100%);
          object-fit: cover;
        }
      }
    }
  }
}
