@use "~abstracts" as *;

$border: 1.5px solid $primary-border-color;
.nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: $bg-color;
  border-bottom: 1.5px solid $secondary-border-color;
  color: $typo-color;

  .sub {
    display: flex;
    justify-content: space-between;
    @include normalizePadding(1rem);
    align-items: center;
    border-bottom: 1px solid $secondary-border-color;
    font-size: 1.1rem;
    text-transform: uppercase;

    .auth {
      display: none;
      @include tablet {
        display: flex;
      }

      gap: 2rem;
    }

    .lang {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .main {
    display: flex;
    position: relative;
    min-height: 5rem;
    align-items: center;
    @include normalizePadding(1rem, 1.5rem, 2.5rem);
    @include tablet {
      gap: 2rem;
    }
    @include desktop {
      gap: 3rem;
    }

    .logo {
      width: 6rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @include tablet {
        position: static;
        transform: none;
      }
    }

    .links {
      display: none;
      gap: 1rem;
      @include tablet {
        display: flex;
      }
      @include desktop {
        gap: 2rem;
        margin-left: 1rem;
      }

      .link {
        text-align: center;
        white-space: nowrap;
        text-transform: capitalize;
        font-size: 1.1rem;
        font-family: $secondary-fonts;
        font-weight: 800;
        transition: all 0.2s ease;

        &:last-of-type {
          border-right: none;
        }

        &:hover {
          opacity: 0.5;
        }

        @include tablet {
          font-size: 1.4rem;
        }
        @include desktop {
          font-size: 1.6rem;
        }
      }
    }
    .socials {
      margin-left: auto;
      display: none;
      font-size: 2rem;
      @include tablet {
        display: flex;
        gap: 1.5rem;
      }
      @include desktop {
        gap: 2rem;
      }

      .social {
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          opacity: 0.2;
        }
      }
    }
    .login {
      font-size: 1.6rem;
      margin-left: auto;
      @include tablet {
        display: none;
      }
    }
  }
}
